# Chave de API de dados do Portal da Transparência do Governo Federal
# Obtenha gratuitamente cadastrando um e-mail em:
# https://portaldatransparencia.gov.br/api-de-dados/cadastrar-email
GOV_API_KEY=